@import './shared/variables.scss';

$header-spacing: $default-spacing / 2;

.root {
  height: 3rem + 2 * $header-spacing;
  padding: $header-spacing;
}

.title {
  background: $turquoise;
  border-radius: $min-radius;
  height: 3rem;
  padding-left: 1rem;
  padding-top: .75rem;
}
