@import './shared/variables.scss';

.root {
  * + * { margin-top: $menu-spacing; }
  font-size: .9rem;
  left: 0;
  line-height: .9rem;
  padding-left: $default-spacing;
  position: absolute;
  top: 3rem + 2 * $default-spacing;
  width: 15%;
}

.sublist {
  font-size: .75rem;
  line-height: .75rem;
  padding-left: $default-spacing;
  position: relative;
}

.root,
.sublist {
  li {
    overflow: hidden;

    &:hover {
      background: $white;
      overflow: visible;
    }
  }
}
